.menu
{
    font-size: 1.2em;
}

ul {
    list-style: none ; /*Pour enlever le style de base d'une liste*/
    display: flex;
    flex-direction: row; /*Pour que la direction des éléments se fassent flêche*/
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}



/*active-link permet de distinguer quand on est sur un lien séléctionné */
.activeLink 
{
    font-weight: bold;
    color: #07c5fa;
}

